html {
    background-color: #1C2331;
    font-family: 'Noto Sans', serif;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    color: #ffffff;
    background-color: #1C2331;
    overflow-x: hidden;
    font-family: 'Noto Sans', serif;
}

hr {
    border: 1px solid white;
}


/* Navbar */

.no-bg {
    background-color: rgba(0, 0, 0, .2);
}

.color-bg {
    background-color: #1C2331;
}

@media only screen and (max-width:768px) {
    .navbar {
        background-color: #1C2331
    }
}

.navbar-nav a {
    font-family: 'Noto Sans', serif;
    /* font-size: 1.1em; */
    text-transform: uppercase;
}


/* Hero text */

.view {
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(28, 35, 49, 0.4), rgba(28, 35, 49, 1)), url('./img/poze carusel/poza1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.view .row {
    margin-top: 30vh;
}

.view hr {
    border: 1px solid white;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 1em 2em;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border: 1px solid white;
    border-radius: 10px;
}


/* Stiri */

.news {
    border-top: 0.2px solid white;
}

a {
    text-decoration: none !important;
    color: white;
}

a :hover {
    color: white;
}

#btnClr {
    background: #9DABC6;
    color: white;
    padding: 0.8em 1em;
    border-radius: 10px;
}

#btnClr:hover {
    background: #8996b1;
    color: white;
}

.none {
    color: white !important;
    font-size: 1em;
}

.ceva {
    margin-right: 0 !important;
    padding-right: 0 !important;
}


/* Despre */

.btnDespre {
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-bottom: 1px solid white;
}

.lead {
    font-family: 'Noto Sans', serif;
    font-size: 1em;
}

.title {
    font-family: 'Noto Sans', serif;
    font-size: 1.5em;
}

.file {
    margin-bottom: 1em;
}

.fileTitle {
    /* background: rgba(255, 255, 255, 0.2); */
    background: #9DABC6;
    color: white;
    padding: 1em;
    border-radius: 10px;
}

.fileTitleStg {
    background: #9DABC6;
    color: white;
    padding: 1em;
    border-radius: 10px;
    margin-right: 1em;
}

.fileTitle:hover,
.fileTitleStg:hover {
    background: #8996b1;
    color: white;
}


/*Contact*/

.btnSend {
    background: #9DABC6;
    color: white;
    padding: 0.5em;
    border-radius: 10px;
}

.btnSend:hover {
    background: #8996b1;
    color: white;
}