html {
    background-color: #1C2331;
    font-family: 'Noto Sans', serif;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    color: #ffffff;
    background-color: #1C2331;
    overflow-x: hidden;
    font-family: 'Noto Sans', serif;
}

hr {
    border: 1px solid white;
}


/* Navbar */

.no-bg {
    background-color: rgba(0, 0, 0, .2);
}

.color-bg {
    background-color: #1C2331;
}

@media only screen and (max-width:768px) {
    .navbar {
        background-color: #1C2331
    }
}

.navbar-nav a {
    font-family: 'Noto Sans', serif;
    /* font-size: 1.1em; */
    text-transform: uppercase;
}


/* Hero text */

.view {
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(28, 35, 49, 0.4), rgba(28, 35, 49, 1)), url('./img/poze carusel/poza1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.view .row {
    margin-top: 30vh;
}

.view hr {
    border: 1px solid white;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 1em 2em;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border: 1px solid white;
    border-radius: 10px;
}


/* Stiri */

.news {
    border-top: 0.2px solid white;
}

a {
    text-decoration: none;
}

.none {
    color: white !important;
    font-size: 1em;
}

.accordion>input[name="collapse"] {
    display: none;
    /*position: absolute;
    left: -100vw;*/
}

.accordion label,
.accordion .content {
    max-width: 2000px;
    margin: 0 auto;
}

.accordion .content {
    background: #1C2331;
    overflow: hidden;
    height: 0;
    transition: 0.5s;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.accordion>input[name="collapse"]:checked~.content {
    height: 500px;
    transition: height 0.5s;
}

.accordion label {
    display: block;
}


/* For Desktop */

@media only screen and (min-width: 620px) {
    .accordion>input[name="collapse"]:checked~.content {
        height: fit-content;
    }
}

.accordion {
    margin-bottom: 1em;
}

.accordion>input[name="collapse"]:checked~.content {
    border-top: 0;
    transition: 0.3s;
}

.accordion .handle {
    margin: 0;
    font-size: 16px;
}

.accordion label {
    color: #fff;
    cursor: pointer;
    font-weight: normal;
    padding: 10px;
    background: #0c0a74;
    user-select: none;
}

.accordion label:hover,
.accordion label:focus {
    background: #252525;
}

.accordion .handle label:before {
    font-family: fantasy;
    content: icon;
    display: inline-block;
    margin-right: 10px;
    font-size: 1em;
    line-height: 1.556em;
    vertical-align: middle;
    transition: 0.4s;
}

.accordion>input[name="collapse"]:checked~.handle label:before {
    transform: rotate(180deg);
    transform-origin: center;
    transition: 0.4s;
}